@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');


/* Common used for the pages */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Rajdhani', sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h2 {
    font-size: 50px;
    line-height: 58px;
    color: #121212;
    font-weight: 600;
}

h3 {
    font-size: 44px;
    line-height: 55px;
    color: #121212;
    font-weight: 600;
}


.main-btn {
    display: inline-block;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 2px solid transparent;
    padding: 0 32px;
    font-size: 16px;
    line-height: 48px;
    color: #0067f4;
    position: relative;
    cursor: pointer;
    z-index: 1;
}


.transition-1 {
    position: fixed;
    width: 100%;
    top: 0;
    left: -100%;
    right: 0;
    bottom: 0;
    z-index: 101;
    background: #fff;
    -webkit-transition: 0.5s ease-out;
    -o-transition: 0.5s ease-out;
    transition: 0.5s ease-out;
}

.transition-1.is-active {
    left: 0;
}

.transition-2 {
    position: fixed;
    height: 100%;
    top: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 101;
    background: #fff;
    -webkit-transition: 0.5s ease-out;
    -o-transition: 0.5s ease-out;
    transition: 0.5s ease-out;
}

.transition-2.is-active {
    top: 0;
}


/* Nav Bar */

.logo img {
    height: 100px;
    width: 100px;
}

.nav {
    position: fixed;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
    width: 100%;
    padding: 1rem 6.5rem;
    background-color: transparent;
    transition: all .5s ease;
    z-index: 100;
}

.nav.scrolled {
    background-color: #fff;
    transition: background-color: 200ms linear;
    -webkit-box-shadow: 7px 10px 15px rgba(0, 0, 0, .3);
    box-shadow: 7px 10px 15px rgba(0, 0, 0, .3);
}

.nav .navbar-toggle {
    display: none;
    border: none;
    outline: none;
}

.nav .navbar-toggle .toggler-icon {
    width: 27px;
    height: 3px;
    background-color: #121212;
    margin: 5px 0;
    position: relative;
    display: block;
    transition: all .3s ease-out 0s;
}

.nav .menu-bar .menu-items {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
}

.nav .menu-bar .menu-items li {
    margin: 0 15px;
}

.nav .menu-bar .menu-items li a {
    color: #000;
    font-size: 18px;
    font-weight: 600;
}

.nav .menu-bar .menu-items li a:hover {
    color: #4F47E4;
}

.nav .navbar-social {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
}

.nav .navbar-social span {
    font-size: 18px;
    font-weight: 600;
    padding-right: 10px;
    color: #6c6c6c;
}

.nav .navbar-social ul {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
}

.nav .navbar-social ul li {
    margin: 0 7px;
}

.nav .navbar-social ul li a {
    color: #6c6c6c;
    font-size: 22px;
}

/*Home Section*/


.bg {
    background-image: url('../resources/homebg.jpg');
    width: 100%;
    height: 120vh;
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.bg a {
    position: absolute;
    bottom: -10px;
    left: 10px;
    color: #000;
    z-index: 10;
}

.bg .overlay {
    background-image: linear-gradient(rgba(232, 237, 255, .9), rgba(239, 254, 255, .9) 40%, rgba(254, 255, 244, .3) 70%, rgba(255, 255, 255, .12));
    width: 100%;
    height: 100%;
}

.bg .wave-shape {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.bg .wave-shape img {
    width: 100%;
    display: block;
}

.home-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.home-content .header-text {
    font-size: 95px;
    letter-spacing: 5px;
}

.home-content h6 {
    font-size: 50px;
    color: #1d1d1d;
}


.home-content h3 {
    margin-top: 22px;
    font-size: 65px;
}

.home-content .header-btn {
    margin-top: 22px;
}

.home-content .header-btn li {
    display: inline-block;
    margin: 10px 10px 0 0;
}

.home-content .header-btn li a.main-btn,
.service-content a.main-btn,
.email .form a.main-btn {
    border-radius: 50px;
    overflow: hidden;
    background-color: #fff;
    border: 0;
    line-height: 50px;
    -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.home-content .header-btn li a.first-btn,
.service-content a.read-btn,
.email .form a.email-btn {
    color: #fff;
}

.home-content .header-btn li a.first-btn:before,
.service-content a.read-btn:before,
.email .form a.email-btn:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, #535CF1, #A147E4);
    z-index: -1;
    transition: all .3s ease;
    background-position: right center;
}

.home-content .header-btn li a.first-btn:hover,
.service-content a.read-btn:hover,
.email .form a.email-btn:hover {
    color: #535CF1;
}

.home-content .header-btn li a.first-btn:hover:before,
.service-content a.read-btn:hover:before,
.email .form a.email-btn:hover:before {
    background-image: linear-gradient(to right, #fff, #f8f8f8);
}


.home-content .header-btn li a.second-btn:hover {
    color: #fff;
    background-image: linear-gradient(to right, #535CF1, #A147E4);
}

/*Services Section*/
.services,
.about,
.contact,
.tc {
    background: linear-gradient(to top left, RGBA(85, 239, 196, .25) 50%, #fff 50%);
}

.tools,
.choose,
.email,
.tc-2 {
    background: linear-gradient(to bottom left, RGBA(85, 239, 196, .25) 50%, #fff 50%);
}

/*Services and Tools Section*/
.services,
.tools,
.about,
.choose,
.contact,
.email,
.tc,
.tc-2 {
    height: auto;
    padding: 7rem;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    text-align: center;
}

.services h6,
.tools h6,
.about h6,
.choose h6,
.contact h6 {

    font-size: 20px;
    line-height: 32px;
    margin-top: 16px;
    font-weight: normal;
    margin-bottom: 50px;
}

.services .slider,
.tools .slider {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.services .slider .card,
.tools .slider .card {
    flex: 1;
    margin: 0 10px;
}

.services .slider .card .img,
.tools .slider .card .img {
    height: 200px;
    width: 100%
}

.services .slider .card .img img,
.tools .slider .card .img img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

.services .slider .card .service-content,
.tools .slider .card .tool-content {
    padding: 10px 20px;
}

.services .slider .card .service-content .service-title,
.tools .slider .card .tool-content .tool-title,
.about .about-content .about-box .box-one .about-contents .about-title,
.choose .choose-content .choose-box .box .choose-contents .choose-title,
.contact .contact-container .contact-row .contact-column .box .content-box .contact-contents .contact-title {
    font-size: 25px;
    line-height: 26px;
    margin-bottom: 0px;
}


.tools .slider .card .tool-content .tool-subtitle {
    font-size: 20px;
    font-weight: 600;
    color: #e74c3c;
    line-height: 20px;
}

.services .slider .card .service-content p,
.tools .slider .card .tool-content p,
.about .about-content .about-box .box-one .about-contents p,
.choose .choose-content .choose-box .box .choose-contents p,
.contact .contact-container .contact-row .contact-column .box .content-box .contact-contents p {
    margin: 10px;
    overflow: hidden;
    -webkit-box-orient: vertical !important;
    -webkit-line-clamp: 8 !important;
    display: -webkit-box;
    text-align: justify;
}


/*About and Choose Section*/
.about .about-content,
.choose .choose-content {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
}


.about .about-content .about-box,
.choose .choose-content .choose-box {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    -ms-align-items: flex-start;
    align-items: flex-start;
    justify-content: space-between;
}

.about .about-content .about-box .box-one,
.choose .choose-content .choose-box .box {

    -webkit-flex: 1px;
    -moz-flex: 1px;
    -ms-flex: 1px;
    -o-flex: 1px;
    flex: 1px;
    justify-content: space-between;
}

.about .about-content .about-box .box-one .img,
.choose .choose-content .choose-box .box .img,
.contact .contact-container .contact-row .contact-column .contact-row .box .content-box .img {
    height: 40%;
    margin-bottom: 10px;
}

.about .about-content .about-box .box-one .img i,
.choose .choose-content .choose-box .box .img i,
.contact .contact-container .contact-row .contact-column .contact-row .box .content-box .img i {
    font-size: 40px;
}


/*Contact Section*/
.contact .contact-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.contact .contact-container .contact-row,
.contact .contact-container .contact-row .contact-column .contact-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.contact .contact-container .cotact-row .contact-column,
.contact .contact-container .contact-row .contact-column .contact-row .box {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}



.contact .contact-container .contact-row .contact-column .contact-row .box {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.contact .contact-container .contact-row .contact-column .contact-row .box .content-box {
    position: relative;
}

.contact .contact-container .contact-row .contact-column .contact-row .box .content-box .img,
.contact .contact-container .contact-row .contact-column .contact-row .box .content-box .contact-contents {
    display: table-cell;
    vertical-align: middle;
}

.contact .contact-container .contact-row .contact-column .contact-row .box .content-box .img {
    padding-right: 20px;
}

.contact .contact-container .contact-row .contact-column .contact-row .box .content-box .img {
    vertical-align: top;
    padding-top: 5px;

}

.contact .contact-container .contact-row .contact-column .seperator .sep-line {
    height: 1px;
    border-top: 1px solid #ebebeb;
    display: block;
    position: relative;
    width: 100%;
    margin-bottom: 25px !important;
    margin-top: 25px !important;
}

/*Email Section*/
.email h6 {
    font-size: 20px;
    line-height: 32px;
    margin-top: 16px;
    font-weight: normal;
    margin-bottom: 10px;
}

.email .form {
    width: 70%;
}

.email .form .email-row {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
    margin: 25px 0;
}

.email .form .email-row input {
    width: 47%;
    height: 55px;
    border: 1px solid #cbced1;
    border-radius: 5px;
    font-size: 16px;
    padding: 0 25px;
    outline: none;
}

.email .form textarea {
    width: 100%;
    resize: none;
    border: 1px solid #cbced1;
    border-radius: 5px;
    padding: 0 25px;
    font-size: 16px;
    outline: none;
    padding-top: 15px;
    margin-bottom: 20px;
}


/*Footer Section*/
footer {
    background-color: #f4f6f7;
    padding: 3rem 5rem;
}

footer .row {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    justify-content: flex-start;
    -ms-align-items: center;
    align-items: center;
}

footer .row ul {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    justify-content: flex-start;
    -ms-align-items: center;
    align-items: center;
}

footer .row a {
    padding-right: 20px;
    font-size: 26px;
    color: #6c6c6c;

}


footer .second-row {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    justify-content: space-between;
}

footer .second-row .frow .footer-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 18px;
    color: #6c6c6c;
    padding-bottom: 20px;
}

footerr .second-row .frow .li {
    padding-bottom: 12px;
}

footer .second-row .frow li a {
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    color: #121212;
}

.copyright {
    background-color: #2b354f;
    padding: 23px 0;
}

.copyright p {
    text-align: center;
    color: #fff;
}

/*Responsiveness*/

@media (min-width: 992px) {
    .contact .contact-container .contact-row .contact-column {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media only screen and (max-width: 946px) {

    .bg {
        -webkit-background-size: contain;
        background-size: contain;
    }

    h2 {
        font-size: 35px;
        line-height: 40px;
    }

    h3 {
        font-size: 28px;
        line-height: 35px;
    }

    .nav {
        padding: 1rem 3rem;
    }

    .nav .navbar-social {
        display: none;
    }

    .home-content {
        width: 60%;
    }

    .home-content .header-text {
        font-size: 50px;
    }

    .home-content h6 {
        font-size: 30px;
        color: #1d1d1d;
    }


    .home-content h3 {
        margin-top: 0;
        font-size: 35px;
    }

    .home-content .header-btn {
        margin-top: 0;
    }

    /*Service & Tools Section*/
    .services,
    .tools,
    .about,
    .choose,
    .contact,
    .email {
        padding: 3rem;
    }

    .services h6,
    .tools h6,
    .about h6,
    .choose h6,
    .contact h6 {
        font-size: 16px;
        line-height: 26px;
    }

    .services .slider,
    .tools .slider {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
    }

    .services .slider .card,
    .tools .slider .card {
        flex: 1;
        margin: 0 10px;
    }

    .services .slider .card .img,
    .tools .slider .card .img {
        height: 200px;
        width: 100%
    }

    .services .slider .card .img img,
    .tools .slider .card .img img {
        width: 100%;
        height: 100%;
        object-fit: scale-down;
    }

    .services .slider .card .service-content,
    .tools .slider .card .tool-content {
        padding: 10px 20px;
    }

    .services .slider .card .service-content .service-title,
    .tools .slider .card .tool-content .tool-title,
    .about .about-content .about-box .box-one .about-contents .about-title,
    .choose .choose-content .choose-box .box .choose-contents .choose-title,
    .contact .contact-container .contact-row .contact-column .box .content-box .contact-contents .contact-title {
        font-size: 18px;
        line-height: 20px;
    }


    .tools .slider .card .tool-content .tool-subtitle {
        font-size: 16px;
        line-height: 16px;
    }

    /*Contact Section*/
    .contact .contact-container {
        width: 100%;
        padding: 0;
    }

    .contact .contact-container .contact-row,
    .contact .contact-container .contact-row .contact-column .contact-row {
        margin: 0;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
    }

    /*Email Section*/
    .email .form {
        width: 80%;
    }

}

@media only screen and (max-width: 774px) {
    .nav {

        padding: .7rem 1rem;
    }

    .nav .navbar-toggle {
        display: block;
        position: absolute;
        top: 26px;
        right: 16px;
        z-index: 100
    }

    .nav .menu-bar {
        position: fixed;
        top: 55px;
        right: -360px;
        width: 300px;
        height: 100vh;
        background-color: rgba(256, 256, 256, .9);
        transition: all .5s ease;
    }

    .nav .menu-bar .menu-items {
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
        justify-content: flex-start;
        -ms-align-items: flex-start;
        align-items: flex-start;
        text-align: justify;
        padding: 40px 0;
    }

    .nav .menu-bar .menu-items li {
        margin: 2rem 30px;
    }

    footer {
        padding: 4rem 1rem;
    }
}

@media only screen and (max-width: 541px) {
    .home-content .header-btn li {
        display: block;
        margin: 10px 10px 0 0;
    }

    .about .about-content .about-box,
    .choose .choose-content .choose-box {
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
    }

    .about .about-content .about-box .box-one,
    .choose .choose-content .choose-box .box {
        margin: 20px;
    }

    .email .form .email-row {
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
        margin: 0;
    }

    .email .form .email-row input {
        width: 100%;
        margin: 10px;
    }

    .email .form textarea {
        margin-top: 10px;
    }

    footer {
        padding: 4rem 2rem;
    }

    footer .second-row {
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
    }

    footer .second-row .frow {
        margin: 10px;
    }
}


/*T&C*/
.tc,
.tc-2 {
    justify-content: space-between;
    -ms-align-items: start;
    align-items: start;
    text-align: justify;
    padding-bottom: 0;
    padding-top: 8rem;
}

.tc-2 {
    padding-top: 0;
}

.tc-list {
    list-style: circle;
}
