* {
    margin: 0;
    padding: 0;
}

.title {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    margin: 20px;
}

.team {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
}

.team .container {
    position: relative;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    flex-wrap: wrap;
}

#wrapper {
    margin: 100px;
}

.team .container .card {
    position: relative;
    width: 300px;
    height: 400px;
    margin: 20px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .2);
    border-radius: 15px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
}

.team .container .card .image-box {
    height: 100%;
}

.team .container .card .image-box img {
    height: 100%;
    object-fit: contain;
}

.team .container .card .content {
    position: absolute;
    bottom: -160px;
    width: 100%;
    height: 160px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    z-index: 10;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    backdrop-filter: blur(20px);
    -webkit-box-shadow: 0 10px 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .1);
    border: 1px solid rgba(255, 255, 255, .2);
    -webkit-transition: bottom .5s;
    -o-transition: bottom .5s;
    transition: bottom .5s;
}

.team .container .card:hover .content,
.team .container .active .content {
    bottom: 0;
}

.team .container .card .content .content-box h3 {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    margin: 20px 0px 15px;
    line-height: 1.1rem;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    transform: translateY(-20px);
}

.team .container .card:hover .content .content-box h3,
.team .container .active .content .content-box h3 {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition-delay: .6s;
    -o-transition-delay: .6s;
    transition-delay: .6s;
}

.team .container .card .content .content-box h3 span {
    font-size: 12px;
    font-weight: 300;
    text-transform: initial;
}

.team .container .card .content .social {
    position: relative;
    bottom: 10px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
}

.team .container .card .content .social li {
    list-style: none;
    margin: 0px 10px;
    -webkit-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -o-transform: translateY(40px);
    transform: translateY(40px);
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    opacity: 0;
    -webkit-transition-delay: calc(0.2s * var(--i));
    -o-transition-delay: calc(0.2s * var(--i));
    transition-delay: calc(0.2s * var(--i));
}

.team .container .card:hover .content .social li,
.team .container .active .content .social li {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
}

.team .container .card .content .social li a {
    color: #fff;
    font-size: 24px;
}

@media only screen and (max-width: 946px) {
    #wrapper {
        margin: 100px;
        margin-top: 105px;
    }

}

@media only screen and (max-width: 774px) {
    #wrapper {
        margin: 40px;
        margin-top: 100px;
    }

}

@media only screen and (max-width: 541px) {
    #wrapper {
        margin: 30px;
        margin-top: 100px;
    }

    .title h3 {
        text-align: justify;
    }

}
